# --- Java & Gradle ---
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
target/
out/
*.log
*.class

# --- macOS ---
.DS_Store

# --- VS Code ---
.vscode/
*.code-workspace

# --- IntelliJ IDEA ---
.idea/
*.iml

# --- Python ---
venv/
.venv/
env/
__pycache__/
*.pyc

# 테스트 파일 무시
#test_*

# 제미나이 CLI 파일 관련
.gemini/
#GEMINI.md
#session_memory.json

# --- Sensitive Data ---
.env